@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 500px) {
  body {
    padding: 8px;
    font-size: medium;
  }
}

.navbar {
  width: 1090px;
  height: 60px;
  top: 40px;
  left: 175px;
  gap: 0px;
  opacity: 0px;
}
